.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    border: 2px solid rgba(0, 0, 0, 0.247);
    border-radius: 50px;
    flex: 1;
    padding: 30px;


    .rightSide{
        flex: 3;
        display: flex;
        align-items: center;
        gap: 10px;


        span{
            font-size: 20px;
            font-weight: 600;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
        }
    }

    .leftSide{
        flex: 1;
        display: flex;
        align-items: center;
        gap: 15px;

        a{
            text-decoration: underline;
        }
    }
}